---
layout: default
---

<div class="home">
 

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a class="readon" href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
      </li>
    {% endfor %}
  </ul>
<!-- Pagination links -->
<div class="pagination"> 
 <p><span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></p>
<ul class="pagination">

  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}" class="previous">Previous</a></li>
  {% else %}
    <li><span class="previous">Previous</span></li>
  {% endif %}
   
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}" class="next">Next</a></li>
  {% else %}
    <li><span class="next ">Next</span></li>
  {% endif %}
  </ul>

</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
